<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div style="width:100%;background-color:#B71C1C;">
      <div style="font-size: 3rem;height: 5rem;width: 5rem;text-align: center;border-radius: 1rem;display: flex;align-items: center;justify-content: center;background-color: white;color: #B71C1C;font-weight: 700;margin: 0 auto;">wS</div>
    </div>
    <%= yield %>
  </body>
</html>
